html {
    scroll-behavior: smooth;
  }
.navbar{
    position: fixed;
    width: 100%;
    height: 89px;
    top: 0;
    display: flex;
    flex-direction: row;
    z-index: 10;
    background-color: #000000;
    
}
.logo{
    cursor: pointer;
    margin-top: 9px;
    margin-left: 20px;
    margin-right: 20px;
    height: 65px;
    width: 170px;
    transition: 0.5s;
}
.logo:hover{
    height: 67px;
    margin-right: 20px;
}

.navul{
    text-decoration: none;
    list-style: none;
    color: white;
    display: flex;
    padding-left: 190px;
    margin-top: 30px;
}
.navbarli{
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-right: 60px;
    transition: 0.5s;
    cursor: pointer;
}
.navbari{
    text-decoration: none;
    list-style: none;
    color: white;
    transition: 0.5s;
}
.navbari:hover{
    color: red;
}
.search{
    font-size: 17px;
    margin-left: 34px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}
.search:hover{
    color: red;
}
.icons{
    margin-left: 400px;
    margin-right: 50px;
    margin-top: 20px;
}
 
@media(max-width:1000px){
    .navbar{
        width: 100%;
        height: 290px;
    }
    .logo{
    margin-top: -23px;
    margin-left: 20px;
    margin-right: -80px;
    height: 180px;
    width: 400px;
    }
    .navul{
        padding-left: 0px;
    }
    .navbarli{
        padding-top: 39px;
        font-size: 45px;
    }
    .usernameo{
        font-size: 55px;
    }
}

