html{
  scroll-behavior: smooth;
}
.displayevents{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 160px 60px 0px 60px;
  background-color: antiquewhite;
}
.peoplecounter{
  margin-left: 1267px;
}