

.listresultitem{
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    
  }

  .listresults{
    padding-top: 10px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
  } 

  .container{
    margin-top: 7rem;
  }

  .headingText{
    text-align: center;
    font-style: inherit;
    
  }